<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="logo">ExamSys</div>
      <ul class="nav-links">
        <li><a href="#features">Features</a></li>
        <li><a href="#testimonials">Reviews</a></li>
        <li><a [routerLink]="['Exam']" >Exams</a></li>
        <!-- <li><a [routerLink]="['AddQuestion']" >AddQuestion</a></li> -->

      </ul>
      <div d-flex justify-content-end>
        <a [routerLink]="['Login']"   class="btn btn-outline-primary me-3" href="#support">Login</a>
        <a [routerLink]="['Register']"  class="btn btn-outline-primary me-3" href="#support">Register</a>
        <a class="btn btn-outline-primary me-3" href="#support">LogOut</a>
      </div>



    </nav>
  </div>
</header>
